




/* TODO!!!! бУРГЕР И МЕНЮ */
  
  header {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-left: 20px;
  }
  

  .nav-list a {
    position: relative;
    color: white;
    text-decoration: none;
  }
  
  .nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #4caf50;
    transition: width 0.5s ease; 
  }
  
  .nav-list a:hover::after {
    width: 100%; 
  }
  


.burger {
    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 25px;
  }
  
  .burger .line {
    background-color: white;
    height: 3px;
    width: 100%;
    position: absolute;
    transition: all 0.4s ease;
  }
  
  .burger .line:nth-child(1) {
    top: 0;
  }
  
  .burger .line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger .line:nth-child(3) {
    bottom: 0;
  }
  

  .burger.active .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .burger.active .line:nth-child(2) {
    opacity: 0;  
  }
  
  .burger.active .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  
  

  @media (max-width: 768px) {
    .burger {
      display: block;
    }
  
    .nav-list {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: rgba(51, 51, 51, 0.7);
      position: absolute;
      top: 60px;
      left: 0;
    }
  
    .nav-list.active {
      display: flex;
    }
  
    .nav-list li {
      margin: 15px 0;
      text-align: center;
    }
  }
  









/* TODO!!! LOGO TELEGRAMM WATSAPP */

.header-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #333;
  gap: 5px;
}

 

.header-logo-contact {
  display: flex;
  gap: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 5px; 
  text-decoration: none;
  color: #2da4e1;
  font-size: 0.7rem;
  transition: color 0.3s ease;
}
 
.social-link:nth-child(2) {
  color: #4ac759;
}


.social-link img {
  width: 12px; 
  height: 12px;
  transition: transform 0.3s ease;
}
.social-link img:hover {
  transform: scale(1.5);
}

.header-phone a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  transition: color 0.3s ease;
}

.header-phone a:hover {
  color: #4caf50;
}























/* TODO!!! Canvas и content */



.section-header-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background: url('../images-networks/first_screen_dev.webp');
             
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 50px;
}












.content > h1 {
  font-size: 4rem;
  color: #FFFFFF;
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}


.content-list {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
/* Стиль для списка с галочками */
.checklist {
  list-style: none; /* Убираем стандартные маркеры */
  padding-top: 1rem;
  margin: 0;
}

.checklist li {
  position: relative;
  padding-left: 25px; /* Отступ для галочки */
  margin-bottom: 10px; /* Разделение элементов */
}

.checklist li::before {
  content: "✔"; /* Галочка */
  position: absolute;
  left: 0; /* Позиционирование маркера слева */
  color: white; /* Цвет галочки */
  font-size: 16px; /* Размер */
  line-height: 1;
}


 


  
/* форма на 1 первой странице */

/* Общее */
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('background-image.jpg') center/cover no-repeat; */
  height: 100vh;
}



.feedback__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  backdrop-filter: blur(5px);
  color: #fff;
}

.feedback__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Поле формы */
.feedback__field {
  margin-bottom: 15px;
}

.feedback__label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.feedback__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* Кнопка */
.feedback__button {
  width: 100%;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.feedback__button:hover {
  background-color: darkred;
}

/* Чекбокс и политика */
.feedback__consent {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.feedback__checkbox {
  margin-right: 5px;
}

.feedback__policy-link {
  color: #55aaff;
  text-decoration: underline;
}

/* Подсказка */
.feedback__note {
  margin-top: 10px;
  font-size: 12px;
}

.feedback__required {
  color: red;
}



@media (max-width: 768px) {
  .content > h1 {
    font-size: 2rem;
  }
  .section-header-wrapper {
    justify-content: center;
    padding-top: 2rem;
  }
  .feedback {
    height: auto;
  }
  .content-list {
    font-weight: normal;
  }
}



















































































  
  



























































/* TODO!!! блок контактов в footer */
.wrapper-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 250, 254);
}


.wrapper-contact-networks {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem;
}

.wrapper-contact-networks > li > a > img {
    width: 30px;
    object-fit: contain; 
}





































































/* TODO!!! Стрелка наверх фиксированная FOOTER */

.back-to-top {
  position: fixed;
  bottom: 30px; 
  right: 10px; 
  width: 50px;  
  height: 50px; 
  background-color: rgba(74, 199, 89, 0.4); 
  color: white; 
  text-align: center;
  line-height: 50px; 
  font-size: 24px; 
  border-radius: 50%;
  text-decoration: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease; 
  z-index: 1000; 
}

.back-to-top:hover {
  background-color: rgba(74, 199, 89, 0.8); 
}

.back-to-top:active {
  transform: scale(0.8); 
}



















/* TODO!!! блок логотипа в futer AND HEADER */
.logo {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}


.logo-icon {
    width: 35px;
    height: 35px;
    background: linear-gradient(135deg, #4e8cff, #7f5af0);
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 1s infinite; 
}


@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}


.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
}


.digital {
    font-size: 17px;
    font-weight: bold;
    color: #4D5B7C;
}


.expert {
    font-size: 13px;
    color: #4e8cff;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo-header {
    color: #4D5B7C;
    font-weight: bold;
}

.logo-last {
    color: #4e8cff;
}




@media (max-width: 768px) {
    .wrapper-contact-networks {
        max-width: 20rem;              
    }
    .contact-info-policy {
        display: none;
    }
}




/* TODO!!! НИЖНЯЯ СТРОКА FUTER */
.wrapper-contact-info {
    width: 100%;
    padding-top: 2rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(77, 91, 124);
    
}
.wrapper-contact-info > p {
    font-size: 0.8rem;
}
.contact-info-policy > a {
    text-decoration: none;
    color: rgb(77, 91, 124);
    cursor: pointer;
    transition: color 0.3s ease;
}
.contact-info-policy > a:hover {
    color: #4e8cff;
}
    



/* TODO!!! Блок куки FUTER */
#cookie-banner.hidden {
    display: none;
}

  
  #cookie-banner {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgb(77, 91, 124, 0.5);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  
#cookie-banner button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .cookie-banner-text > a {
      color: #4e8cff;
    }
    .cookie-banner-text > a:hover {
      color: rgb(77, 91, 124);
  }
  
  #cookie-banner button:hover {
    background-color: #0056b3;
  }
  
  #cookie-banner button:last-child {
    background-color: #ED6A6A;
  }
  
  #cookie-banner button:last-child:hover {
    background-color: #c93b3b;
  }

  @media (max-width: 768px) {
    #cookie-banner {
        flex-wrap: wrap;
        gap: 1rem;
    }
     
}