




  #busines-card-website {
    background: url('../images-networks/code-4333398_1280.jpg');
    
  }

  #service-website {
    background: url('../images-networks/technology-785742_1280.jpg');
  }

  #landing-website {
    background: url('../images-networks/earth-2254769_1280.jpg');
  }

  #corporate-website {
    background: url('../images-networks/software-developer-6521720_1280.jpg');
  }

  #catalog-website {
    background: url('../images-networks/keyboard-5017973_1280.jpg');
  }
  #development-website {
    background: url('../images-networks/monkey-4042658_1280.jpg');
  }






  #content-busines-card {
    padding-left: 3rem;
  }


.property-advantage-benefit {
   
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
  
}


.property-advantage-benefit h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: rgb(77, 91, 124);
    border-left: 4px solid #4caf50;;
    padding-left: 10px;
}


.property-advantage-benefit p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 15px;
    color: #555;
    text-align: justify;
}


@media (max-width: 768px) {
    .property-advantage-benefit {
        padding: 15px;
        margin: 10px;
    }

    .property-advantage-benefit h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .property-advantage-benefit p {
        font-size: 0.95rem;
    }
}


.property-advantage-benefit p:last-of-type {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: red;
}


.property-advantage-benefit h2, .property-advantage-benefit p:last-of-type {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}







.home {
    position: fixed; 
    bottom: 20px;    
    right: 20px;    
    width: 50px;    
    height: 50px;
    background-color: #4caf50; 
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0.5;
}

.home:hover {
   
    opacity: 1;
    transform: scale(1.1); 
}


.home a {
    display: block;
    width: 30px; 
    height: 30px;
    background: url('../images-networks/home.png') no-repeat center center;
    background-size: contain; 
    text-decoration: none;
    color: transparent; 
}
